
/* Your CSS Code here. */
.moviePic{
	height:500px;
	width:500px;
	opacity:0.9;
}

.picdiv{
	margin-inline:auto;
	height:500px;
	width:500px;
}
.movieDetail{
	margin-inline:auto;
	position:relative;
	top:10px;
	text-align:center;
	font-size:18px;
	width:500px;
}